*{
    margin: 0;
    border:0;
    font-family:'Inter',sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 16px;
}
.logo span{
    background-color: black;
    color: white;
    padding: 20px;

}
.media{
    display: flex;
}
.media-icon{
    margin: 10px;
    font-size: 15px;
    width: 30px;
    height: 30px;
    background-color:#F26464;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
}
.info span{
    font-size: 16px;
    display: block;
    font-weight:500;
    padding-bottom: 30px;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding:20px;
}
.profile{
    display: flex;
    
    justify-content: space-between;
}
.self-image{
    width: 60%;
    padding-right: 100px;
    
}
.self-image img {
    max-width: 100%;
    height:auto;
}
.statistic{
    display: flex;
    margin: 12px;
    
    
}
.stats_detail{
    width: 33.3%;
}
.stats_detail strong{
    font-size: 36px;
    color:#F26464;
    font-weight: 600;

    
}
h1{
    font-size:48px;
}
.introduction{
    padding:60px 0 120px;
}
.title{
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}
.intro-section{
    padding-top: 60px;
    padding-bottom: 120px;
}
.introduction p{
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
    margin-top: 30px;
}
.btn-sec{
    text-align: center;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
}
.btn:hover{
    color: #FFF;
    background-color: #F26464;
}
.skill-section{
    display: flex;
    padding-bottom: 105px ;
}
.half-section{
    width: 50%;
}
.skill-list{
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;
}
.skill-item{
    display: inline-block;
    color: #373737;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.exp-section{
    display: flex;
}
.exp-half-section{
    padding-right: 70px;
}
.year{
    color: #373737;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}
.office{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}
.position{
    color: #373737;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
}
.exp-half-section p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.exp-half-section ul li{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
}

.work-item{
    padding-left: 70px;
    padding-top: 40px;
    padding-right: 70px;
    background-color: #F6F8FA;
    margin-bottom: 40px;
    display: flex;
}
.work-title{
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.work-item p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.work-desc{
    padding-right: 30px;
    padding-bottom: 60px;
}
.work-img {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.work-img img{
    max-width: 100%;
    height: auto;
}
.footer{
    background-color: #000;
    padding: 120px 0;
    text-align:center;
}
.footer-section{
    padding-bottom: 100px;
}
.footer-section span{
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}
.footer-section h4{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}
.footer-section p{
    letter-spacing: 1.13px;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 40px;
}
.copyright{
    color: rgba(255,255,255,0.5);
    letter-spacing: 1px;
    font-size: 16px;
}